/* position */

html, body {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}

header {
  width: 100%;
  padding: 10px 0px;
}

header h1 {
  margin-top: 0;
  padding: 0;
}

header h2 {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0;
  padding: 0;
}

div#container {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: 110px;
}

footer {
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  height: 70px;
}

footer p {
  margin: 0;
}

/* character */

html, body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 13px;
}

header h1 {
  font-size: 18px;
}

header h2 {
  font-size: 18px;
  font-weight: normal;
}

footer a {
  text-decoration: none;
}


/* color */

html, body {
  color: #454545; 
}

header h1 {
  color: #256FBA;
}

header p span {
  color: #256FBA;
}

footer a {
  color: #256FBA;
}



/* device_brands */

/* position */

main {
  margin-top: 50px;
}

.ac-container {
  max-width: 600px;
  margin: 0 auto;
}

.ac-container label {
  min-height: 20px;
  height: auto;
  display: block;
  padding: 5px;
  margin: 0;
}

.ac-container input ~ div p {
  margin: 0;
  padding: 5px;
}

.ac-container a {
  text-decoration: none;
}

/* character */

.ac-container label {
  font-weight: bold;
  text-align: left;
}

.ac-container input ~ div label {
  font-weight: normal;
  text-align: center;
}

.ac-container input ~ div p {
  text-align: right;
}

.ac-container i {
  text-align: left;
}

/* color */

.ac-container {
  border: 1px #ccc;
  border-top: none;
}

.ac-container label {
  color: #666;
  background: #ddd;
  border-top: 1px solid #ccc;
}

.ac-container input ~ div label {
  background: #eee;
}

.ac-container input ~ div p {
  border-top: 1px solid #ccc;
}

.ac-container a {
  color: #256FBA;
}

.ac-container i {
  font-size: 16px;
  padding: 0 10px 0 5px;
}

/* attribute */
.ac-container input {
  display: none;
}

.ac-container label {
  cursor: pointer;
}

.ac-container input ~ div {
  overflow: hidden;
  height: 0;
  transition: 0.6s;
}

.ac-container input:checked ~ div {
  height: auto;
}



/* contact */

/* position */
.contact a {
  text-decoration: none;
}

/* character */
.contact i {
  font-size: 200px;
}

/* color */
.contact i.fa-github-square {
  color: #87c040;
}

.contact i.fa-twitter-square {
  color: #00aced;
}


/* attribute */
