/* position */

html, body {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}

header {
  width: 100%;
  padding: 10px 0px;
}

header h1 {
  margin-top: 0;
  padding: 0;
}

header h2 {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0;
  padding: 0;
}

div#container {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: 110px;
}

footer {
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  height: 70px;
}

footer p {
  margin: 0;
}

/* character */

html, body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 13px;
}

header h1 {
  font-size: 18px;
}

header h2 {
  font-size: 18px;
  font-weight: normal;
}

footer a {
  text-decoration: none;
}


/* color */

html, body {
  color: #454545; 
}

header h1 {
  color: #256FBA;
}

header p span {
  color: #256FBA;
}

footer a {
  color: #256FBA;
}

