<main>
	<div class="contact">

		<p>ご意見・ご要望があれば、気軽にお問い合わせください。</p>

		<button type="button" class="twitter" onclick="window.location.href='http://twitter.com/yuzutas0/'">
			<i class="fa fa-twitter"></i>
			<p>Twitter</p>
		</button>

		<button type="button" class="github" onclick="window.location.href='http://github.com/yuzutas0/hile_search/'">
			<i class="fa fa-github"></i>
			<p>Github</p>
		</button>

	</div>
</main>