/* position */
.bag_items_background {
	margin: 0 auto;
	padding: 0 15px;
	width: 80%;
}

.bag_items_paginate {
	height: auto;
	margin-top: 20px;
}

.bag_items_card {
	height: auto;
	margin-top: 20px;
	padding: 20px;
}

.bag_items_card hr {
	margin: 0 0 10px 0;
}

.bag_items_card img {
	display: block;
	margin: 10px auto;
	width: 70%;
	height: auto;
}

.bag_items_card .icon_char {
	padding: 5px;
	margin-right: 5px;
}

.bag_items_card form {
	margin-top: 30px;
	margin-bottom: 10px;
}

.bag_items_search {
	height: auto;
	margin: 60px auto 30px;
}

.bag_items_search_tag_form {
	text-align: left;
}

.bag_items_search_submit {
	margin-top: 20px;
}



/* character */
.bag_items_card .icon_char {
	font-size: 11px;
}

.bag_items_search_tag_form p {
	font-size: 11px;
}

.bag_items_search_tag_form p label {
	font-size: 11px;
	font-weight: normal;
}

.bag_items_search_price_form p {
	font-size: 11px;
}

.bag_items_search_price_form p label {
	font-size: 11px;	
	font-weight: normal;
}



/* color */
main.bag_items_main {
	background: #fef4f4;
}

.bag_items_card {
	background: #fff;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
}

.bag_items_card .icon_char {
	color: #fff;
	background: #aaa;
}



/* attribute */
.bag_items_card .icon_char {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


