/* position */
.bag_items_background {
	margin: 0 auto;
	padding: 0 15px;
	width: 80%;
}

.bag_items_search {
	height: auto;
	margin-top: 20px;
}

.bag_items_card {
	height: auto;
	margin-top: 20px;
}

.bag_items_paginate {
	height: auto;
	margin-top: 20px;
}


/* character */



/* color */
main.bag_items_main {
	background: #fef4f4;
}

.bag_items_card {
	background: #fff;
}



/* attribute */
