@import "bootstrap-sprockets";
@import "bootstrap";



/* position */

html, body {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}

#container {
  position: relative;
  min-height: 100%;
}

header {
  width: 100%;
  padding: 10px 0;
  height: 100px;
}

h1 {
  margin-top: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0 10px;
}

header p {
  margin: 0;
  padding: 0 10px;
}

main {
	padding-top: 40px;
  padding-bottom: 70px;
}

footer {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  height: 70px;
}

footer p {
  margin: 0;
  padding: 0 10px;
}



/* character */

html, body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 13px;
}

header h1 {
  font-size: 28px;
}

header h2 {
  font-size: 18px;
  font-weight: normal;
}

footer a {
  text-decoration: none;
}



/* color */

html, body {
  color: #454545; 
}

header {
  background-color: #fff;
}

#container {
  background-color: #fef4f4;
}

header h1 {
  color: #256FBA;
}

header p span {
  color: #256FBA;
}

footer {
  background-color: #fff
}

footer a {
  color: #256FBA;
}



/* attribute */
header h1 {
  cursor: pointer;
}