

/* position */
.device_brands_container {
	margin-top: 70px;
}

.device_brands_container select {
	margin: 50px auto;
	width: auto;
	min-width: 50%;
}

.device_brands_container input {
	margin: 0 auto;
	width: 30%;
}



/* character */
.device_brands_container select {
	text-align: center;
}



/* color */



/* attribute */


