

/* position */
.device_brands_container {
	margin-top: 70px;
}

.device_brands_container .row {
	margin-top: 60px;
}

.device_brands_container select {
	width: 100%;
}

.device_brands_container i {
	margin: 20px auto 0; 
}



/* character */
.device_brands_container i {
  font-size: 70px;
}



/* color */



/* attribute */


